@import '../../variables.scss';

.app-info {
  padding: 25px;
  background-color: $main-background;
  border-radius: 4px;
  box-shadow: $shadow;
  color: $white;
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 1.5rem
    }

    h2 {
      font-size: 1rem
    }
  }
}
