@import '../../variables.scss';

.app-currency {
  margin-top: 30px;
  padding: 25px;
  background-color: $main-background;
  border-radius: 4px;
  box-shadow: $shadow;

  .currency__group {
    margin-bottom: 10px;
  }

  input {
    max-width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .currency__item {
    width: 70px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;

    &-text {
      width: auto;
    }
  }
}

