@import '../../variables.scss';

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #009688;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15)
}

.add-form {
    margin-top: 20px;

    input {
        max-width: 500px;
        margin: 0 5px;
        &.red {
            border: 1px solid #f44336
        }
    }

}

